* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p {
    color: #ebe8e2;
    font-size: 20px;
    margin: auto;
    font-family: "Anta", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
h1 {
    font-weight: 400;
    font-size: 40px;
}
a {
    text-decoration: none;
}
body {
    background-image: url("images/background.png");
    background-color: #070707;
    background-repeat: repeat-y;
    background-size: 100%;
    font-family: "Anta", sans-serif;
}

@font-face {
    font-family: CodeProBlack;
    src: url(fonts/CodePro.otf);
}
@font-face {
    font-family: Garet;
    src: url(fonts/Garet-Book.otf);
}
@font-face {
    font-family: Brasika;
    src: url(fonts/Brasika.otf);
}
@font-face {
    font-family: Horizon;
    src: url(fonts/horizon.otf);
}

/* navbar */

nav {
    background-color: #ebe8e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    font-family: Brasika;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    width: 100vw;
    z-index: 1;
}
.logo img {
    height: 60px;
    cursor: pointer;
}
.logo img:hover {
    transform: scale(1.2);
    transition: 0.3s;
}
#techcider {
    height: 70px;
}
#infinix {
    height: 100px;
}
#x {
    height: 50px;
}
#mascot {
    height: 150px;
}
.nav-items {
    display: flex;
    list-style: none;
    gap: 25px;
}
.nav-item {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #070707;
}
.nav-item:hover {
    color: #f25e3e;
    transition: 0.1s;
    transform: scale(1.2);
}

/* landing page  */
.container {
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    gap: 20px;
}
.title-sponsor {
    display: flex;
    height: max-content;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.heading {
    font-size: 25px;
    font-weight: 700;
    font-family: Horizon;
    font-style: normal;
}
.btn {
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    font-family: Brasika;
    font-style: normal;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    background-color: #ebe8e2;
}

.btn:hover {
    background-color: #f25e3e;
    transition: 0.1s;
    color: #fff;
    transform: scale(1.3);
}

/* Div tags  */
.sec {
    width: 100%;
    margin: auto;
    padding-top: 120px;
    text-align: center;
    color: #fff;
}

.body_heading {
    font-family: Horizon;
    float: left;
    margin: 0 100px;
}

#aboutus {
    height: 100vh;
}
.aboutus-col {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 30px;
    height: max-content;
    gap: 50px;
    margin: 100px 30px;
}
.aboutus-col img {
    border: 5px solid #f25e3e;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px 0;
}
.aboutus-col img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.row {
    font-family: Garet;
    box-sizing: border-box;
    padding: 10px;
}

.body_text {
    font-family: Garet;
    text-align: center;
    width: 70vw;
    font-size: 16px;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    text-align: center;
    font-family: Garet;
    gap: 10px;
    height: max-content;
    box-sizing: border-box;
    padding: 10px;
}
.images img {
    border: 2px solid #f25e3e;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.3s;
    height: 250px;
    width: auto;
}
.images img:hover {
    transform: scale(1.05);
}
.images p {
    font-family: Garet;
    text-align: justify;
    font-size: 14px;
}
.team {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    gap: 50px;
}

#team {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    text-align: center;
    color: #fff;
}
#team h1{
    margin-bottom: 20px;
    margin-right: 200px;
    float: right;
}

/* Schedule */
#schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.schedule {
    width: 80vw;
    height: 150px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: solid;
}
.schedule p {
    font-size: 30px;
}

/* insights */

.insights {
    width: 85%;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    border-bottom: solid;
}
.insights .col {
    height: 100%;
    width: 40%;
    margin: auto;
    padding-top: 5%;
    padding-right: 10%;
    border-right: solid;
}
.insights .col p {
    padding: none;
    font-family: fantasy;
    font-size: 40px;
    font: bold;
    position: absolute;
}
.sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.sponsors h1 {
    margin-bottom: 50px;
}
.partners {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    height: 150px;
    padding: 30px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.partners img {
    cursor: pointer;
    height: 80px;
}

/* FOOTER */
.footer_body {
    font-family: CodePro;
}
.footer {
    height: 150px;
    width: 100%;
    background-color: #ebe8e2;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}
.footer .col {
    width: 30%;
    font-size: 10px;
    text-align: center;
    margin: auto;
    border-right: #070707;
    border-style: solid;
    border-bottom: none;
    border-top: none;
}
.footer .col2 {
    width: 50%;
    font-size: 10px;
    text-align: center;
    margin: auto;
    border-bottom: none;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer .col p {
    font-size: 14px;
    color: #070707;
    font-family: Garet;
}
.footer .col2 p {
    font-size: 14px;
    color: #070707;
    font-family: Garet;
}
.footer_body a {
    text-decoration: none;
    color: #000;
}

#id-team {
    width: 600px;
}
/* loader  */
.loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

.loader {
    height: 50vh;
}

/* dropdown */
.menu-btn {
    display: none;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    position: relative;
    background-color: transparent;
    border: none;
}

.dropdown-btn {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
.dropdown-btn:focus {
    outline: 0;
}

.dropdown {
    left: 0;
    background-color: #171a1b;
    z-index: 1;
    position: fixed;
    top: 78px;
    display: flex;
    flex-direction: column;
    max-height: 0;
    width: 100%;
    transition:
        max-height, 0.3s ease-out;

    overflow-y: hidden;
    overflow-x: hidden;
}
.dropdown a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
    padding: 10px;
    font-family: Brasika;
    font-weight: 400;
}

.dropdown a:hover {
    background-color: #f25e3e;
    color: #fff;
    text-decoration: none;
    transition: color, background-color, 0.2s;
    padding: 10px;
}

.display-menu {
    max-height: 275px;
}

.dropdown a:focus {
    outline: 0;
}

@media screen and (max-width: 1100px) {
    .footer .col p {
        font-size: 12px;
    }
    .btn {
        font-size: 12px;
        padding: 7px 14px;
    }
    .body_text {
        font-size: 14px;
    }
    .insights .col p {
        font-size: 30px;
    }
    .body_heading {
        font-size: 30px;
    }
    .aboutus-col {
        flex-direction: column;
    }
    .aboutus-col div {
        flex-direction: column;
        display: flex;
    }
    #schedule {
        margin-top: 120px;
    }
    .schedule p {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .nav-item {
        font-size: 14px;
    }
    .logo img {
        height: 50px;
    }
    #techcider {
        height: 50px;
    }
    #infinix {
        height: 70px;
    }
    #x {
        height: 40px;
    }
    #mascot {
        height: 100px;
    }
    #team {
        margin-top: 100px;
        height: 200vh;
    }
    .team {
        flex-direction: column;
    }
    #schedule {
        margin-top: 100px;
    }
    .images {
        width: 80%;
    }
    .images p {
        font-size: 12px;
        text-align: center;
    }
    h2 {
        font-size: 18px;
    }
    .partners img {
        height: 50px;
    }
    .footer {
        height: auto;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }
    .footer .col {
        width: 100%;
        border: none;
    }
    .footer_body {
        width: 100%;
        border: none;
    }
    .col2 {
        flex-direction: column;
    }
}

@media screen and (max-width: 750px) {
    .images p {
        font-size: 12px;
        text-align: center;
    }
    h2 {
        font-size: 15px;
    }
    #id-team {
        width: 400px;
    }
    .title-sponsor {
        gap: 15px;
    }
    .heading {
        font-size: 18px;
    }
    .schedule p {
        font-size: 15px;
    }
    .schedule img {
        height: 100px;
    }
    .schedule {
        height: 100px;
    }
    .body_text {
        font-size: 10px;
    }
    .insights .col p {
        font-size: 20px;
        margin: 25px 0;
    }
    .insights {
        height: 200px;
    }
    .partners {
        gap: 20px;
        height: 75px;
        margin: 30px 0;
    }
    .partners img {
        height: 40px;
    }
    .sponsors h1 {
        margin-bottom: 0;
    }
    .nav-items{
        display: none;
    }
    .menu-btn{
        display: block;
    }
}
@media screen and (max-width: 430px) {
    #id-team {
        width: 300px;
        height: auto;
    }
    .images img{
        width: 300px;
        height: auto;
    }
    .body_heading{
        font-size: 18px;
        float: none;
    }
    .partners{
        flex-direction: column;
        width: auto;
        height: auto;
        margin: auto;
        padding: auto;
        gap: 10px;
    }
    .partners img{
        height: 50px;
        margin: auto;
        padding: auto;
    }
    #aboutus{
        height: auto;
    }
    .aboutus-col{
        margin: 25px 30px;
        padding: 10px;
    }
    .sec{
        margin: 0;
    }
    #team{
        margin-top: 0;
        height: auto;
    }
    #team h1{
        margin:0 auto;
        float: none;
    }
    #insights h1{
        text-align: center;
    }
    #techcider{
        height: 40px;
    }
    #infinix{
        height: 56px;
    }
    #x{
        height: 30px;
    }
    .title-sponsor{
        gap: 5px;
    }
    #mascot{
        height: 75px;
    }
    .heading{
        font-size: 18px;
    }
    #schedule{
        margin: 0;
    }
    .sponsors h1{
        width: 80%;
    }
    .footer{
        padding: 50px 0;
    }
}